$darkmode: true;
$primary: #b1c5ff;
$onPrimary: #002a78;
$primaryContainer: #20428f;
$onPrimaryContainer: #dae2ff;
$secondary: #c1c6dd;
$onSecondary: #2a3042;
$secondaryContainer: #404658;
$onSecondaryContainer: #dde2fa;
$tertiary: #e1bbdc;
$onTertiary: #422741;
$tertiaryContainer: #5a3d59;
$onTertiaryContainer: #ffd7f9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e3e1e6;
$surface: #1b1b1f;
$onSurface: #e3e1e6;
$surfaceVariant: #44464e;
$onSurfaceVariant: #c6c6d0;
$outline: #8f909a;
$shadow: #000000;
$inverseSurface: #ede0de;
$inverseOnSurface: #362f2e;
$inversePrimary: #9c4239;
