$darkmode: true;
$primary: #b7c4ff;
$onPrimary: #112879;
$primaryContainer: #2c4090;
$onPrimaryContainer: #dce1ff;
$secondary: #c2c5dd;
$onSecondary: #2c2f41;
$secondaryContainer: #43465a;
$onSecondaryContainer: #dfe1f9;
$tertiary: #e5bad9;
$onTertiary: #44273f;
$tertiaryContainer: #5c3d56;
$onTertiaryContainer: #ffd6f5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #45464f;
$onSurfaceVariant: #c6c5cf;
$outline: #90909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4659aa;
